<div class="erki">
	<header>
		<img src="/img/ERKI_aftekas_I_onepager23.png">
	</header>
	<aside class="right">
		<img src="/img/ERKI_Right.png">
	</aside>
	<aside class="left">
		<img src="/img/ERKI_Left.png">
	</aside>
	<img class="background"src="/img/ERKI_aftekas_I_onepager22.png">

	<div id="mlb2-5016094" class="ml-subscribe-form ml-subscribe-form-5016094">
		<div class="ml-vertical-align-center">
			<div class="subscribe-form ml-block-success" style="display:none">
				<div class="form-section">
					<p>Thank you! You have successfully subscribed.</p>
				</div>
			</div>
			<form class="ml-block-form" action="//app.mailerlite.com/webforms/submit/u8z5g3" data-id="411344" data-code="u8z5g3" method="POST" target="_blank">
				<div class="subscribe-form">
					<div class="form-section mb10">
						<p>Signup for location!</p>
					</div>
					<div class="form-section">
						<div class="form-group ml-field-email ml-validate-required ml-validate-email">
							<input type="email" name="fields[email]" class="form-control" placeholder="Enter your email" value="" autocomplete="email" x-autocompletetype="email" spellcheck="false" autocapitalize="off" autocorrect="off">
						</div>
					</div>
					<input type="hidden" name="ml-submit" value="1" />
					<button type="submit" class="primary">
						Subscribe
					</button>
					<button disabled="disabled" style="display: none;" type="button" class="loading">
						<img src="//static.mailerlite.com/images/rolling.gif" width="20" height="20" style="width: 20px; height: 20px;">
					</button>
				</div>
			</form>
			<script>
				function ml_webform_success_5016094() {
					var $ = ml_jQuery || jQuery;

					$('.ml-subscribe-form-5016094 .ml-block-success').show();
					$('.ml-subscribe-form-5016094 .ml-block-form').hide();
				};
			</script>
		</div>
	</div>
	<script type="text/javascript" src="//static.mailerlite.com/js/w/webforms.min.js?v3772b61f1ec61c541c401d4eadfdd02f"></script>

</div>
