@systemColorBlue: #2573b7;
@systemColorSecondBlue: #25d7da;

@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

html {
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Maven Pro', sans-serif;
}

body {
  font-family: 'Maven Pro', sans-serif;
  section:nth-child(even) {
    background-color: #fafafa;
  }
}

.wip {
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing .inner-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
}

.pos-relative {
  position: relative;
}

.menu-bar {
  z-index: 10;
  margin-top: 40px;
  font-weight: 500;
  a {
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    &:hover {
      text-underline: none;
    }
  }
}

section {
  height: 100vh;
}

.max-width-1000 {
  max-width: 1000px;
}

.margin-auto {
  margin: auto;
}

.island-logo {
  width: 240px;
  margin-left: 38px;
  align-self: center;
}

.island {
  width: 1200px;
  z-index: 0;
}

.main-wrap {
  section .inner-section {
    max-width: 1200px;
    margin: auto;
  }
}

.main-nav {
  max-width: 1200px;
  width: 100%;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  position: fixed;
  justify-content: flex-end;
  display: flex;
}

.logo-header {
  max-width: 1200px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 40px;
}

.main-nav__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  top: 0;
}

.icon-burger {
  background-image: url('/img/ILANDSOUND_menüü-02.svg');
}

.icon-cross {
  background-image: url('/img/ILANDSOUND_X-03.svg');
}

section.live {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  overflow: hidden;
  iframe {
    margin-top: -120px;
  }
}

.broadcast_info {
  display: none !important;
}